body {
    background-image: url('fond.jpg');
    margin-top: 2em;
    line-height: 1.5;
    margin-left: 500px;
    margin-right: 500px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;background-attachment: fixed;
}
h1 {
    text-align: -webkit-center;
    border: 2px solid white;
    padding: 9px;
    padding-bottom: 1px;
    cursor: pointer;
    background-color: #2e00ff;
    font-size: 37px;
    color: white; 
}
.site-info {
    background-color: #202020 !important;
    display: flex;
    padding: 2px;
    color: white; 
    padding-left: 100px;
    padding-right: 100px;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    left: 660px;
    right: 660px;
}
html {
    -webkit-text-size-adjust: 100%
}
.footer-site {
    background-color: #4c4c4c;
    border-top: 4px;
    border-left: 4px;
    border-right: 4px;
    border-bottom: 4px;
    padding: 5px 10px;
    border-style: solid;
    position: absolute;
    bottom: 0;
    min-width: 875px;
    text-align: center;
}
img {
    width: 450px;
    align-items: center;
}
a:visited {
    color: #bbff00;
}
body { 
    animation: fadeInAnimation ease 1s; 
    animation-fill-mode: forwards; 
    animation-iteration-count: 1; 
    } 
    @keyframes fadeInAnimation { 
    0% { 
    opacity: 0; 
    } 
    100% { 
    opacity: 1; 
    } 
    } 